*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
    margin-bottom: 0 !important;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
html{
    background-color: #F7F8F3;
}
// a:visited{
//     color:#FFFFFF;
// }
// a:active{
//     color:#FFFFFF;
// }