svg {
  fill: #ffffff;
}
.active {
  color: #1c1c1b;
  fill: #1c1c1b;
}
.borderdarkpanel {
  border-bottom: 1px solid #1c1c1b !important;
  opacity: 1 !important;
  background-color: #ffffff;
}
.borderdark {
  border-left: 1px solid #1c1c1b !important;
}
.nav {
  width: 100%;
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  border-bottom: 1px solid #ffffff;
  opacity: 0.4;
  z-index: 99;
  color: #ffffff;
  border-color: #ffffff;
  &__list-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  &__list-item {
    margin-right: 30px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
  }
  &__list-item:last-child {
    margin-right: 0;
  }
  &__logo {
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
    opacity: 0.6;
  }
  &__registration-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-right: 30px;
  }
  &__registration-item {
    display: flex;
    align-items: center;
    padding-left: 30px;
    height: 78px;
    border-left: 1px solid;
    margin-right: 30px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
  }
  &__registration-item:last-child {
    margin-right: 0;
  }
  &__registration-item-icon {
    margin-right: 7px;
    transform: translateY(3px);
  }
}
